[submodule "lightline.vim"]
	path = lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
[submodule "tender.vim"]
	path = tender.vim
	url = git@github.com:jacoborus/tender.vim.git
[submodule "delimitMate"]
	path = delimitMate
	url = git@github.com:Raimondi/delimitMate.git
[submodule "syntastic-local-eslint.vim"]
	path = syntastic-local-eslint.vim
	url = git@github.com:mtscout6/syntastic-local-eslint.vim.git
[submodule "vim-jsx"]
	path = vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "mango.vim"]
	path = mango.vim
	url = https://github.com/goatslacker/mango.vim.git
[submodule "csv.vim"]
	path = csv.vim
	url = git@github.com:chrisbra/csv.vim.git
[submodule "tabular"]
	path = tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "vim-vue"]
	path = vim-vue
	url = git@github.com:posva/vim-vue.git
[submodule "Dockerfile.vim"]
	path = Dockerfile.vim
	url = git@github.com:ekalinin/Dockerfile.vim.git
[submodule "vim-unimpaired"]
	path = vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim-tmux-navigator"]
	path = vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "vim-prettier"]
	path = vim-prettier
	url = https://github.com/prettier/vim-prettier.git
[submodule "ale"]
	path = ale
	url = https://github.com/w0rp/ale.git
