[submodule "lightline.vim"]
	path = lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
[submodule "tender.vim"]
	path = tender.vim
	url = git@github.com:jacoborus/tender.vim.git
[submodule "delimitMate"]
	path = delimitMate
	url = git@github.com:Raimondi/delimitMate.git
[submodule "syntastic-local-eslint.vim"]
	path = syntastic-local-eslint.vim
	url = git@github.com:mtscout6/syntastic-local-eslint.vim.git
